.Item {
  margin: 7px 0;
  padding: 10px;
  width: 30vw;
}

.Item:hover {
  cursor: pointer;
}

.Icon {
  height: 15px;
  width: 15px;
  margin-left: 7px;
  margin-right: 7px;
}

.Item {
  transition: all 0.2s ease-in-out;
}
.Item:hover {
  transform: scale(1.1);
}
